.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 10px;
    margin:  0 auto;
}
.label{
    color: #666;
    margin: 30px 0 0 10px;
}
.containerNenhumImovel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

@media screen and (max-width: 1045px) {
    .label{
        color: #666;
        margin-top: 20px;
        margin-left: 2%;
    }
}

@media screen and (max-width: 766px) {
    .label{
        color: #666;
        margin-top: 30px;
        margin-left: 10%;
    }
}


.containerFilter{
    height: 250px;
    width: 100%;
    .containerImgs1{
        background-image: url("/slide/img01.jpg");
        background-size: cover;
        background-position: center;
        position: absolute;
        overflow: hidden;
        height: 250px;
        width: 100%;
        z-index: -1;
        right: 0;
        .containerImagemSlide{
            width: 1400px;
            height: 600px;
        }
    }
    .containerDentroFilter{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 10px;
    }
    

}

@media screen and (max-width: 766px) {
    .containerFilter{
        display: none;
    }
}