.container{
    height: 650px;
    padding: 30px 0;
    display: flex;
    .containerImagem{
        width: 30%;
        height: 20vw;
        margin-right: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerFormulario{
        width: 50%;
        padding: 35px 0;
        height: 570px;
        background-color: #00a3de;
        border: 0.1px solid #666;
        border-radius: 4px;
        .containerInputs{
            padding: 5%;
            justify-content: center;
            .input{
                width: 95% ;
                margin-top: 10px;
            }
        }
        .titulo{
            font-weight: 600;
            font-size: 18px;
            margin-left: 5%;
            margin-top: 25px;
            color: #FFF;
            margin-bottom: 5px;
        }
        .containerBotaoMensagem{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top:  10px;
            .botaoMensagem{
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 10px 10px;
                border-radius: 3px;
                color: #666;
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width: 766px) {
    .container{
        height: 750px;
        padding: 30px 0;
        display: flex;
        .containerImagem{
            display: none;
        }
        .containerFormulario{
            width: 80%;
            margin: 0 10%;
            height: 570px;
            background-color: #00a3de;
            border: 0.1px solid #666;
            border-radius: 4px;
            .containerInputs{
                padding: 5%;
                justify-content: center;
            }
            .titulo{
                font-weight: 600;
                font-size: 18px;
                margin-left: 5%;
                margin-top: 25px;
                color: #FFF;
                margin-bottom: 5px;
            }
            .containerBotaoMensagem{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top:  10px;
                .botaoMensagem{
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    padding: 10px 10px;
                    border-radius: 3px;
                    color: #666;
                    cursor: pointer;
                }
            }
        }
    }
}