
.container{
    height: 600px;
    width: 100%;
    // background-color: aliceblue;
    .containerDentro{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .containerImgs1{
            // background-image: url("/slide/img01.jpg");
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            right: 0;

        }

        
    }
    

}

@media screen and (max-width: 766px) {
    .container{
        display: none;
    }
}