
.container{
    height: 600px;
    width: 100%;
    // background-color: aliceblue;
    .containerDentro{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .containerImgs1{
            // background-image: url("/slide/img01.jpg");
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            right: 0;

        }

        .containerBusca{
            height: 70%;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 50px;
            .label{
                font-size: 20px;
                margin-bottom: 20px;
                font-weight: 600;
                color: rgb(77, 76, 76);
            }
        }
    }
    

}

@media screen and (max-width: 766px) {
    .container{
        display: none;
    }
}