.container{
    display: flex;
    justify-content: space-between;
    gap: 2px;
    flex-wrap: wrap;
    padding: 0 10px;
    // margin:  0 auto;
}
.label{
    color: #666;
    margin: 20px 0 10px 10px
}

@media screen and (max-width: 1045px) {
    .label{
        color: #666;
        margin-top: 20px;
        margin-left: 2%;
    }
}

@media screen and (max-width: 766px) {
    .label{
        color: #666;
        margin-top: 20px;
        margin-left: 10%;
    }
}