.select::before
.select::after {
  box-sizing: border-box;
}
.select{
    margin-bottom: 10px; 
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: 0;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
 } 
.containerSelectLocalidade{
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.selectMenor{
    width: 40%;          
 }
.selectMaior{
    width: 58%;          
}
.titulo{
    font-size: 14px;
    color: #666;
    margin-left: 10px;
    padding-top: 5px;
    position: absolute;
    z-index: 1;
}

