@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
.body{
    padding: none;
 
}
.containerTela {
    max-width: 1050px;
    padding: 0 0px;
    margin: 0 auto;
}

.select{
    width: 90%;
    margin-bottom: 10px;             
 } 

.containerSelectLocalidade{
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.selectMenor{
    width: 40%;          
 }
.selectMaior{
    width: 58%;          
}

.botaoBuscar{
    width: 90%;
    height: 45px;
    border-radius: 5px;
    background-color: #FFCD01;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.botaoBuscar:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}