@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
.body{
    padding: none;
}
.containerTela {
    max-width: 1582px;
    padding: 0 0px;
    margin: 0 auto;
}


.doisSelect{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
